
@{
    Layout = null;
}
@using System.Web.Optimization

@helper SelectedTabClass(string tabName)
{
    if (tabName == ViewBag.SelectedTag)
    {
            @: active
    }
}

<!DOCTYPE html>

<html>
    <head>
        <title>Simpleblog Admin</title>

        @Styles.Render("~/admin/styles")
    </head>
    <body>
    
        <div class="container">
            <ul class="nav nav-pills">
                <li class="@SelectedTabClass("posts")">
                    @Html.ActionLink("Posts", "Index", "Posts", new { area="admin"}, new { })
                </li>
                <li class="@SelectedTabClass("users")">
                    @Html.ActionLink("Users", "Index", "Users", new { area = "admin" }, new { })
                </li>
                <li class="pull-right">
                    @Html.RouteLink("Back to Website", "Home");
                </li>
            </ul>
            @RenderBody()
        </div>

        @Scripts.Render("~/scripts")
        @RenderSection("Scripts", false)
    </body>
</html>


